.categories {
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  padding: 20px;

  background-color: var(--main-theme-color);
  border-radius: 15px;
}

.linksList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.linksItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-height: 45px;

  color: #ffffff;
  font-weight: 500;

  border-radius: 15px;
  transition: 0.2s all;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-theme-color);
  }
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;

  color: inherit;
  text-decoration: none;
}

.createCategory {
  width: 100%;
  padding: 10px;

  color: #ffffff;
  font-size: 16px;

  cursor: pointer;
  border-radius: 10px;
  background-color: var(--accent-theme-color);
  border: none;
}

.editCategory {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  cursor: pointer;
  border-radius: 10px;
  background-color: var(--accent-theme-color);
  border: none;
}

.createForm {
  padding: 10px 5px;

  border-radius: 5px;
}

.inputName {
  width: 100%;
  padding: 5px;

  color: #ffffff;
  font-size: 16px;

  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--main-theme-background);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #ffffff;
  }
}

.createButton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  margin-top: 10px;

  font-size: 16px;
  color: #ffffff;

  cursor: pointer;
  background-color: var(--accent-theme-color);
  border-radius: 5px;
  border: 1px solid var(--main-theme-background);
}

.disabledSave {
  opacity: 0.6;
  pointer-events: none;
}

.upButtonsWrapper {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}

.bottomButtonsWrapper {
  display: flex;
  margin-left: auto;
  gap: 4px;
}

.habitControlButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  padding: 4px;

  color: #ffffff;

  cursor: pointer;
  border-radius: 10px;
  background-color: var(--accent-theme-color);
  border: none;
}

.habitEditWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.habitInput {
  padding: 4px;

  color: #ffffff;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-theme-background);
}

.editHabitButtons {
  display: flex;
  gap: 4px;
}

.editHabitButton {
  padding: 4px 8px;

  color: #ffffff;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--main-theme-background);
  border-radius: 4px;
}
