.year {
  display: flex;
  flex-wrap: wrap;
}

.month {
  display: flex;
  max-width: 230px;
  flex-wrap: wrap;
}

.monthName {
  width: 100%;
}

.day {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 2px;

  font-size: 12px;

  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
}