.year {
  display: flex;
  flex-wrap: wrap;
}

.month {
  display: flex;
  max-width: 230px;
  flex-wrap: wrap;
}

.monthName {
  width: 100%;
}

.day {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 2px;

  font-size: 12px;

  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
}

.rating-1 {
  background-color: tomato;
}

.rating-2 {
  background-color: rgb(255, 141, 71);
}


.rating-3 {
  background-color: rgb(253, 203, 2);
}


.rating-4 {
  background-color: rgb(210, 255, 8);
}


.rating-5 {
  background-color: rgb(45, 199, 22);
}


