.detailRoot {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
}

.habitLevel {
  padding: 10px;

  color: #ffffff;

  border-radius: 15px;
  background-color: var(--main-theme-color);
}

.upWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.habitLevelNumber {
  margin: 0;

  font-size: 14px;
}

.completedText {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;

  font-size: 14px;

  border-radius: 15px;
  background-color: var(--accent-theme-color);
}

.completedTextCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;

  background-color: var(--rating-5);
  border-radius: 50%;
}

.checkIcon {
  display: flex;
  width: 10px;
  height: 10px;
}

.progressCircles {
  display: flex;
  gap: 4px;
  width: max-content;
  margin-bottom: 15px;
}

.progressCircle {
  width: 15px;
  height: 15px;

  border: 1px solid #ffffff;
  border-radius: 50%;
}

.completedCircle {
  background-color: var(--rating-5);
}

.numProgressWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.numProgress {
  margin: 0;
  padding: 5px 10px;

  border-radius: 5px;
  background-color: var(--accent-theme-color);
}

.changeButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.changeProgress {
  width: 40px;
  padding: 5px;

  color: #ffffff;
  font-size: 16px;

  border-radius: 5px;
  background-color: var(--accent-theme-color);
  border: none;
}

.habitCreateLevel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;

  cursor: pointer;
  background-color: transparent;

  border: 1px dashed #ffffff;
}
