@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 15px;

  font-family: 'Nunito', sans-serif;

  background-color: var(--main-theme-background);
}

#root {
  min-height: calc(100vh - 30px);
}
